*,
*::before,
*::after {
box-sizing: border-box;
}


html
{
height: 100%;
margin: 0;
}

body
{
min-height: 100%;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
background-image: linear-gradient(to bottom, rgb(21, 23, 24), rgba(28, 35, 37, 1), rgb(0, 0, 0, 1));
color: #eee;
max-width: 205%;
background-repeat: no-repeat;
}

nav{
  flex: 1;
    margin-left: auto;
    padding: 1% 3%;
}
  .nav-links{
    float: right;
    list-style: none;
    padding: 0.67vw 1vw;
    position: relative 
  }
  .nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1.67vw;
    font-family:'Open sans'; 
    padding: 1vw;
  }
  .nav-links a:hover{
    border-radius: 3em;
    background-color: white;
    height:2vh;
    color: black;
  
  }
  
  #hero {
    background-image: linear-gradient(to bottom, rgba(245, 134, 152, 0.7), rgba(245, 134, 152, 0.3)), url(img/Hero.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 60%;
  z-index: -3;
  }
  
  .container {
    color: #ccc;
    font-size: 4vw;
    margin: 0 auto;
    padding: 25vh 0;
    text-align: center;
    width: 100%;
  }






footer
{
display: flex;
padding: 2vw;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
margin-top: auto;
}

.copyR
{
width: 100%;
text-align: left;
padding-left: 1.2vw;
color: white;
}


.social
{
color: whitesmoke;
padding: 1vw;
text-decoration: none;
font-size: 2vw;
}

.social:hover
{
opacity: 0.5;
}

i.fa-circle-thin
{
-webkit-text-stroke-color: black;
-webkit-text-stroke-width:2px;
paint-order: stroke;
}

